.navbar-brand img {
  height: 40px;
}

.navbar-brand {
  line-height: 40px;
}

.mini-graph {
  width: 250px;
}

.bg-warning {
  background-color: #f8a933 !important;
}

.bg-success {
  background-color: #44a855 !important;
}

.bg-failed {
  background-color: #5a2971 !important;
}

a .card-header {
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.dash {
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.4) !important;
  width: 8rem;
  height: 8rem;
  text-align: center;
  cursor: pointer;
}
