.navbar-brand img {
  height: 40px;
}

.navbar-brand {
  line-height: 40px;
}

.mini-graph {
  width: 250px;
}

.bg-warning {
  background-color: #f7b933 !important;
}

.bg-failed {
  background-color: #5a2971 !important;
}

a .card-header {
  color: #fff;
  text-decoration: none;
}
a {
  color: #fff;
  text-decoration: none;
}
