.navbar-brand img {
  height: 40px;
}

.navbar-brand {
  line-height: 40px;
}

.mini-graph {
  width: 250px;
  /* height: 100px; */
}

[x-cloak] {
  display: none !important;
}

.bg-warning {
  background-color: #f7b933 !important;
}
