<h1 class="bg-info p-2 text-light">NanoMon</h1>

<p>NanoMon is a free, open-source, self-hosted monitoring tool for websites and APIs.</p>

<h5 x-text="`Version: ${version} &mdash; Build details: ${buildInfo}`" class="mb-3"></h5>

<a href="https://github.com/benc-uk/nanomon" target="_blank" class="btn btn-dark fs-5"><i class="fab fa-fw fa-github-alt"></i> GitHub project</a>

<hr />
<ul>
  <li>
    API Endpoint: <a :href="apiEndpoint" class="text-success"><span x-text="apiEndpoint"></span></a>
  </li>
  <li>Client ID: <span x-text="clientID || 'None'" class="text-primary"></span></li>
</ul>
<hr />
