<div class="alert alert-warning" role="alert" x-show="error" x-text="error"></div>

<div x-show="monId == 'new'" class="mb-3">
  Templates:
  <button class="btn btn-primary" @click="newHTTP">HTTP</button>
  <button class="btn btn-primary" @click="newTCP">TCP</button>
  <button class="btn btn-primary" @click="newPing">PING</button>
</div>

<template x-if="monitor">
  <div class="card shadow mb-4">
    <div class="card-header fs-3 bg-info text-light" x-text="monId !== 'new' ? 'Edit Monitor' : 'Create Monitor'"></div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            x-model="monitor.name"
            class="form-control"
            id="name"
            placeholder="Enter name for this monitor"
            autocomplete="new-password"
          />
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" x-model="monitor.type">
            <template x-for="type of types">
              <option x-text="type" :value="type" :selected="monitor.type === type"></option>
            </template>
          </select>
        </div>

        <div class="form-group">
          <label for="interval">Target</label>
          <input
            type="text"
            x-model="monitor.target"
            class="form-control"
            id="interval"
            placeholder="Status rule expression"
            autocomplete="new-password"
          />
        </div>

        <div class="form-group">
          <label for="interval">Interval</label>
          <input
            type="text"
            x-model="monitor.interval"
            class="form-control"
            id="interval"
            placeholder="Interval, e.g. 20s or 5m or 1.5h"
            autocomplete="new-password"
          />
        </div>

        <div class="form-group">
          <label for="interval">Rule</label>
          <div class="d-flex">
            <input
              type="text"
              x-model="monitor.rule"
              class="form-control"
              id="interval"
              placeholder="Status rule expression"
              autocomplete="new-password"
            />

            <div class="popWrap">
              <a class="btn btn-secondary ms-4" @click="rulePop = !rulePop">
                <i class="fas fa-fw fa-gears"></i>
              </a>
              <div class="popup" x-show="rulePop" x-html="def[monitor.type].ruleHint"></div>
            </div>
          </div>
        </div>

        <div class="form-check mt-3">
          <input type="checkbox" x-model="monitor.enabled" class="form-check-input" id="enableCheck" checked />
          <label class="form-check-label" for="enableCheck">Enabled</label>
        </div>
      </form>

      <div class="d-flex align-items-baseline">
        <h4 class="mt-4">Properties</h4>
        <div class="dropdown ms-auto">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add Property</button>
          <ul class="dropdown-menu">
            <template x-for="prop of def[monitor.type].allowedProps">
              <li><a class="dropdown-item" style="text-transform: none" @click="monitor.properties[prop]=''" x-text="prop"></a></li>
            </template>
          </ul>
        </div>
      </div>

      <table class="table table-sm table-hover mt-3">
        <thead class="table-primary">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="key in Object.keys(monitor.properties)" :key="key">
            <tr>
              <td x-text="key" valign="middle"></td>
              <td>
                <input type="text" class="form-control" x-model="monitor.properties[key]" autocomplete="new-password" />
              </td>
              <td>
                <button class="btn btn-danger" @click="delete monitor.properties[key]">
                  <i class="fa fa-fw fa-trash"></i>
                </button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <button class="btn btn-success" @click="save" :disabled="!canSave()">
        <i class="fa fa-fw fa-check"></i> <span x-text="monId == 'new' ? 'CREATE' : 'UPDATE'"></span>
      </button>

      <a :href="monId== 'new' ? '#home':`#monitor/${monId}`" class="btn btn-warning"><i class="fa fa-fw fa-stop"></i> Cancel</a>
    </div>
  </div>
</template>
