<div class="alert alert-warning" role="alert" x-show="error" x-text="error"></div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Deletion</h1>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this monitor?</p>
      </div>
      <div class="modal-footer">
        <button type="button" @click="deleteMonitor" data-bs-dismiss="modal" class="btn btn-success">Sure thing!</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yikes no!</button>
      </div>
    </div>
  </div>
</div>

<template x-if="monitor">
  <div class="card shadow mb-4">
    <div class="card-header fs-3 d-flex justify-content-between" :class="status?.class || 'bg-secondary'">
      <div x-html="`${icon} ${monitor.name}`"></div>
      <button class="btn btn-light btn-sm" @click="loadMonitor(monitor.id)"><i class="fas fa-refresh fa-fw"></i> REFRESH</button>
    </div>
    <div class="card-body">
      <div class="float-end" x-show="userAccount">
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash fa-fw"></i> DELETE</button>
        <a class="btn btn-info" :href="`#edit/${monitor.id}`"><i class="fas fa-edit fa-fw"></i> EDIT</a>
      </div>
      <table class="table-sm">
        <tbody>
          <tr>
            <td style="width: 8rem">Type:</td>
            <td x-html="`${icon} ${monitor.type}`"></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td x-html="`<i class='${status?.icon}'></i> ${status?.text || 'None'}`"></td>
          </tr>
          <tr>
            <td>Target:</td>
            <template x-if="monitor.type == 'http'">
              <td><a :href="monitor.target" x-text="monitor.target" target="_blank" class="text-primary"></a></td>
            </template>
            <template x-if="monitor.type != 'http'">
              <td x-text="monitor.target"></td>
            </template>
          </tr>
          <tr x-show="results[0]?.message">
            <td>Message:</td>
            <td x-text="results[0]?.message"></td>
          </tr>
          <tr>
            <td>Interval:</td>
            <td x-text="monitor.interval"></td>
          </tr>
          <tr>
            <td>Enabled:</td>
            <td x-html="monitor.enabled ? `<i class='fa fa-check-circle text-success'>` : `<i class='fa fa-circle-xmark text-danger'>`"></td>
          </tr>
          <tr x-show="monitor.rule">
            <td>Rule(s):</td>
            <td x-text="monitor.rule"></td>
          </tr>
          <tr>
            <td>Updated:</td>
            <td x-text="updatedDate"></td>
          </tr>
          <tr>
            <td>Last Result:</td>
            <td x-text="lastResultDate || 'None'"></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-sm table-hover mt-3" x-show="monitor.properties">
        <thead class="table-primary">
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="[key, value] of Object.entries(monitor.properties || {})" :key="key">
            <tr>
              <td x-text="key"></td>
              <td x-text="value"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<canvas id="graph"></canvas>

<template x-if="results.length > 0">
  <div class="card shadow mt-4 mb-4">
    <div class="card-header fs-3">Last 50 results</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col">Value</th>
            <th scope="col">Message</th>
            <th scope="col">Output</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="r in results">
            <tr :class="getStatusFields(r.status).class">
              <td x-text="r.dateNice"></td>
              <td x-text="r.statusDetails.text"></td>
              <td x-text="r.value"></td>
              <td x-text="r.message" style="font-size: 0.8rem"></td>
              <td>
                <button
                  x-show="r.outputs"
                  class="btn btn-sm btn-outline-light"
                  @click="output = r.outputs"
                  data-bs-toggle="modal"
                  data-bs-target="#outModalMonitor"
                >
                  More
                </button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<!-- Output modal -->
<div class="modal fade" id="outModalMonitor" tabindex="-1" aria-labelledby="outputModalLabelMon" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h1 class="modal-title fs-5" id="outputModalLabelMon">Output Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <template x-if="output">
          <ul>
            <template x-for="[k, v] in Object.entries(output)">
              <li x-text="`${k} = ${v}`" x-show="v != ''"></li>
            </template>
          </ul>
        </template>
        <template x-if="!output">
          <div>No output for this result</div>
        </template>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
