<div class="alert alert-info" role="alert" x-show="error" x-text="error"></div>

<template x-if="monitor">
  <div class="card shadow mb-4">
    <div class="card-header fs-3" :class="status?.class || 'bg-secondary'" x-text="monitor.name"></div>
    <div class="card-body">
      <div class="float-end">
        <button class="btn btn-warning"><i class="fas fa-trash fa-fw"></i> DELETE</button>
        <a class="btn btn-info" :href="`#edit/${monitor.id}`"><i class="fas fa-edit fa-fw"></i> EDIT</a>
      </div>
      <h5 x-text="`Type: ${monitor.type}`"></h5>
      <h5 x-text="`Interval: Every ${monitor.interval}`"></h5>
      <h5 x-text="`Status: ${status?.text || 'None'}`"></h5>
      <h5 x-text="`Updated: ${updatedDate}`"></h5>
      <h5 x-text="`Last Result: ${lastResultDate || 'None'}`"></h5>
      <table class="table table-sm table-hover mt-3">
        <thead class="table-primary">
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="val,key in monitor.properties">
            <tr>
              <td x-text="key"></td>
              <td x-text="val"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<canvas id="graph"></canvas>

<template x-if="results.length > 0">
  <div class="card shadow mt-4 mb-4">
    <div class="card-header fs-3">Last 50 results</div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col">Duration</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="r in results">
            <tr>
              <td x-text="r.dateNice"></td>
              <td x-text="r.status"></td>
              <td x-text="r.duration"></td>
              <td x-text="r.message"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>
