<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/sandstone/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="d-flex flex-wrap">
      <div class="dash m-2 p-1">HELLO</div>
      <div class="dash m-2 p-1">HELLO</div>
      <div class="dash m-2 p-1">HELLO this is a logn werwe</div>
      <div class="dash m-2 p-1">HELLO</div>
      <div class="dash m-2 p-1">HELLO</div>
    </div>
  </body>
</html>
