apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nanomon.fullname" . }}-runner
  labels:
    {{- include "nanomon.labels" . | nindent 4 }}
    component: runner
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      {{- include "nanomon.selectorLabels" . | nindent 6 }}
      component: runner
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "nanomon.selectorLabels" . | nindent 8 }}
        component: runner
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.regRepo }}/nanomon-runner:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: MONGO_URI
            {{- if .Values.mongodb.connectionURI }}
            valueFrom:
              secretKeyRef:
                name: {{ include "nanomon.fullname" . }}
                key: mongoURI
            {{- else }}
            value: "mongodb://{{ .Release.Name }}-mongodb"
            {{- end }}
          {{- if .Values.runner.monitorChangeInterval }}
          - name: MONITOR_CHANGE_INTERVAL
            value: {{ .Values.runner.monitorChangeInterval }}
          {{- end }}
          # Alert settings
          {{- if .Values.runner.alerting.failCount }}
          - name: ALERT_FAIL_COUNT
            value: {{ .Values.runner.alerting.failCount }}
          {{- end }}
          {{- if .Values.runner.alerting.smtpHost }}
          - name: ALERT_SMTP_HOST
            value: {{ .Values.runner.alerting.smtpHost }}
          {{- end }}
          {{- if .Values.runner.alerting.smtpPort }}
          - name: ALERT_SMTP_PORT
            value: {{ .Values.runner.alerting.smtpPort }}
          {{- end }}
          {{- if .Values.runner.alerting.password }}
          - name: ALERT_SMTP_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "nanomon.fullname" . }}
                key: smtpPassword
          {{- end }}
          {{- if .Values.runner.alerting.smtpFrom }}
          - name: ALERT_SMTP_FROM
            value: {{ .Values.runner.alerting.from }}
          {{- end }}
          {{- if .Values.runner.alerting.smtpTo }}
          - name: ALERT_SMTP_TO
            value: {{ .Values.runner.alerting.to }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
