apiVersion: apps/v1
kind: Deployment
metadata:
  name: nanomon-front
spec:
  selector:
    matchLabels:
      app: nanomon-front
  template:
    metadata:
      labels:
        app: nanomon-front
    spec:
      containers:
      - name: nanomon-front
        image: ghcr.io/benc-uk/nanomon-frontend:latest
        imagePullPolicy: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
        env:
          - name: API_ENDPOINT
            value: /api
          - name: AUTH_CLIENT_ID
            value: 1751320d-d880-4d1c-92d5-d41eacef87bc
        ports:
          - containerPort: 8001
---
apiVersion: v1
kind: Service
metadata:
  name: nanomon-front
spec:
  selector:
    app: nanomon-front
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8001
