<h1 class="bg-info p-2 text-light px-3"><i class="fa-solid fa-traffic-light"></i>&nbsp; NanoMon</h1>

<p>
  NanoMon is a lightweight network and HTTP monitoring system, designed to be self hosted with Kubernetes (or other container based system). It is
  written in Go and based on the microservices pattern. It also serves as a reference & learning app for microservices which can be used in workshops
  in order to demonstrate Kubernetes & container concepts.
</p>

<a href="https://github.com/benc-uk/nanomon" target="_blank" class="btn btn-dark fs-5"><i class="fab fa-fw fa-github-alt"></i> GitHub project</a>

<hr />

<h4><i class="fa fa-fw fa-cogs"></i> Config</h4>
<ul>
  <li>
    <b>API Endpoint:</b> <a :href="`${apiEndpoint}/status`" class="text-info" target="_blank"><span x-text="apiEndpoint"></span></a>
  </li>
  <li><b>Client ID:</b> <span x-text="clientID || 'None, auth is disabled'"></span></li>
</ul>

<h4><i class="fa fa-fw fa-box"></i> Build Details</h4>
<ul>
  <li x-html="`<b>Version:</b> ${version}`"></li>
  <li x-html="`<b>Build Info:</b> ${buildInfo}`"></li>
</ul>

<template x-if="userAccount?.name && userAccount?.name !== 'AUTH_DISABLED'">
  <div>
    <h4><i class="fa fa-fw fa-user"></i> Logged In User</h4>
    <ul>
      <li x-html="`<b>Name:</b> ${userAccount.name}`"></li>
      <li x-html="`<b>Username:</b> ${userAccount.username}`"></li>
      <li x-html="`<b>Environment:</b> ${userAccount.environment}`"></li>
      <li x-html="`<b>Tenant:</b> ${userAccount.tenantId}`"></li>
    </ul>
  </div>
</template>

&copy; Ben Coleman, 2023
